extends ../app
block content
  h1 #{ pool.title }

  h2 Options
  ul#option-list
    each option in options
      li.row
        span.col-xs-4 #{option.title} [#{option.votes}]
        a.col-xs-8(href="/pool/#{pool._id}/option/#{option._id}/vote") Vote

  a(href="/pool/#{pool._id}/options/new", class="btn btn-default") New Option